<div class="top-row ps-3 navbar navbar-dark custom-height" style="padding-bottom: 0; padding-top: 2.5rem;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Buoi24</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
  <div class="cus-nav" style="max-height: @(limitHeightPx)px;">
    @foreach(KeyValuePair<string, string> router in routers)
    {
      <NavLink class="cus-nav-link" href="@router.Key" Match="NavLinkMatch.All">
          @router.Value
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
        </svg>
      </NavLink>
    }

  </div>
  <div class="more">
    @if (routers.Count > 3)
    {
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
      </svg>
    }
  </div>
</div>

@code {

  public int limitHeightPx = 250;

  Dictionary<string, string> routers = new Dictionary<string, string>() {
    {"/bt-giohang", "bt-giohang"},
    {"/burger", "Burger"},
  };
}